<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <meta description="<%=pageDescription%>">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/boostrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/boostrap.bundle.js" nonce="<%=locals.nonce%>" crossorigin="anonymous"></script>


</head>

<body>

    <header class="bg-white m-3">
        <a  href="https://romainboudet.fr" target="_blank"><img style=" z-index: 2000; width: 7rem; " src="/img/RB.png" alt="logo Romain Boudet"></a>
        <h1><a href="/">Pokédex</a></h1>
        <div class="containerbutton">
            <form action="/" method="GET">
                <input type="hidden" name="classement" value="alphacroissant">
                <button type="submit" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Classement des pokemons selon leur nom, par ordre alphabétique.">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path style="color: #C04140;"
                            d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                    </svg>
                </button>
            </form>
            <span class="text-center">Nom</span>
            <form action="/" method="GET">
                <input type="hidden" name="classement" value="alphadecroissant">
                <button class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Classement des pokemons selon leur nom, par ordre alphabétique inversé.">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path style="color: #C04140;"
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </button>
            </form>
        </div>
        <div class="containerbutton">
            <form action="/" method="GET">
                <input type="hidden" name="classement" value="poidcroissant">
                <button class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Classement des pokemons selon leur poid, par ordre croissant.">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path style="color: #C04140;"
                            d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                    </svg>
                </button>
            </form>
            <span class="text-center">Poids</span>
            <form action="/" method="GET">
                <input type="hidden" name="classement" value="poiddecroissant">
                <button class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Classement des pokemons selon leur poid, par ordre décroissant.">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path style="color: #C04140;"
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </button>
            </form>
        </div>
        <div class="containerbutton">
            <form action="/" method="GET">
                <input type="hidden" name="classement" value="hauteurcroissant">
                <button class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Classement des pokemons selon leur hauteur, par ordre croissant.">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path style="color: #C04140;"
                            d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                    </svg>
                </button>
            </form>
            <span class="text-center">Taille</span>
            <form action="/" method="GET">
                <input type="hidden" name="classement" value="hauteurdecroissant">
                <button class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Classement des pokemons selon leur hauteur, par ordre décroissant.">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path style="color: #C04140;"
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </button>
            </form>
        </div>
        <div class="search-box">
            <form action="/pokemon/search" method="POST">
                <button class="btn-search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
                <input type="text" minlength="2" maxlength="20" name="search" class="input-control"
                    placeholder="Pokemon à chercher..." autofocus>

            </form>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/type">Liste des Types</a></li>
            </ul>
        </nav>
    </header>
    <main class="container-fluid">