body {
    font-family: "Bree Serif", serif;
    background-color: #C04140;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    color: #C04140;
    border-radius: 1.5em;
    padding: 0.6em 1.5em;
}

header h1 {
    font-size: 2em;
}

nav{
    display: flex;
    font-size: 1em;
}

nav ul{
    list-style: none;
    padding: 0;
    margin:0;
}

header a, header a:hover {
    color: #C04140;
}

.reset-list{
    list-style: none;
    padding: 0;
    margin:0;
}

.error .body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error h2{
    font-size: 10em;
}

.error p{
    font-size: 2em;
}

.error img{
    width:100%;
}

/* POKEMON LIST */

.card {
    flex-basis: 200px;
    text-align: center;
    background-color: #982C2C;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 30px;


}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;
    padding: 2rem 0 0 0;
    padding-top: 20px;
}

.pokemon-list a{
    text-decoration: none;
}

.pokemon-list figure{
    border-radius: 1.5em;
    background-color: #982D2C;
    color: #F9D2D3;
    text-align: center;
}

.pokemon-list img{
    width:100%;
}

/* TYPE LIST */

.type-list a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 1em;
}

.cardsContainer_type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px;
    margin: 10px;
}

/* Fiche */

.pokemon-detail .fiche{
    background-color: #982D2C;
    border-radius: 1em;
}

.pokemon-detail .type-list a{
    font-size: 0.8em;
}

.pokemon-detail .image img{
    width:100%;
}

.pokemon-detail .stats{
    font-size:0.9em;
}

.pokemon-detail .stats .row{
    margin-bottom: 0.3em;
}

.pokemon-detail .stats .status-bar{
    width: 100%;
    background-color: #632B2B;
    height:1.3em;
}
.pokemon-detail .stats .status-bar span{
    display: block;
    height:1.3em;
    background-color: white;
}

.pokemon-detail footer {
    line-height:4em;
}

.pokemon-detail footer a{
    color: #F9D2D3;
}

/* Input search : */

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .form-control{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #f59d9c;
    padding-right: 40px;
    color:#982D2C;
  }
  .form-control::placeholder{
    color:rgba(247, 15, 15, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#982D2C ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .form-control{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .form-control:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
/* si input invalid */
  input:invalid {
    border: 2px dashed red;
  }