<%- include('partials/header') %>


<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="display-6">OUPS... vous avez l'air perdu.. un petit retour par la case <a href="https://pokedex.romainboudet.fr">départ</a> peut être ?</h2>
</div>

<img src="/img/lost.jpg" alt="Are you lost ?!" class="rounded mx-auto d-block">


<%- include('partials/footer') %>